<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.SafetyMeasuresMapper">

    <!-- 分页获取安全措施复核信息 -->
    <select id="queryPage" resultType="java.util.LinkedHashMap">
        SELECT sm.*,
        wt.ticket_code,
        wt.type,

        si.name as staffName,
        si.images as staffImages,
        di.dept_name,
        poi.name as positionName,

        wt.wtwork_content,
        wt.wtlocation,
        wt.wtstart_time,
        wt.wtend_time,
        wt.wtrisk_level,
        wt.wtai_audit_score,
        wt.wtai_audit_suggestion
        FROM safety_measures sm
        left join work_ticket wt on (wt.id = sm.permit_id)
        LEFT JOIN staff_info si ON (si.id = wt.applicant_id)
        left join dept_info di on
        (di.id = si.dept_id)
        left join position_info poi on
        (poi.id = si.position_id)
        WHERE 1 = 1
        <if test="workMeasure.staffName != null and workMeasure.staffName != ''">
            AND si.name LIKE CONCAT('%', #{workMeasure.staffName}, '%')
        </if>
        <if test="workMeasure.type != null and workMeasure.type != ''">
            AND wt.type LIKE CONCAT('%', #{workMeasure.type}, '%')
        </if>
        <if test="workMeasure.riskLevel != null and workMeasure.riskLevel != ''">
            AND wt.risk_level = #{workMeasure.riskLevel}
        </if>
        ORDER BY sm.confirm_time
    </select>
</mapper>
